/*
  Thomas Yahl
  CSS for Personal Webpage
  Initiated 3/22/25
*/

body, html {
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16pt;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

/*NAVIGATION BAR*/
div.nav-bar {
    position: fixed;
    top: 0;
    z-index: 1030;
    height: 100%;
    overflow-x:hidden;
    overflow-y:auto;
    width: 240px;
}

a {
    background-color: rgba(0,0,0,.6);
    display:inline-block;
    padding: 15px 20px 15px 20px;
    width: 200px;
    text-decoration: none;
    color: white;
    text-align: left;
    font-size: 16pt;
}

a:hover {
    background-color: rgba(0,0,0,.7);
}

a.nav-button {
    font-weight: bold;
}

div.dropdown-content {
    display: none;
}



/*PAGE CONTENT*/
div.content {
    max-width: 50%;
    padding: 0px 100px 0px 340px;
    display: inline-block;
}

img.headshow {
    border-radius: 8px;
}

h2.section {
    text-align: center;
}
